<div class="flex items-center w-100-ns w-90 bb bw1 mb4 pb2 b--orange">
  <label class="fw5 f4 mr3" for="email">Email: </label>
  <input id="email" type="email" class="b--none fw3 flex1 f4" name="email" placeholder="Please enter your email">
</div>
