<div class="flex items-center w-100-ns w-90 bb bw1 mb4 pb2 b--pink">
  <label class="fw5 f4 mr3" for="full_name">Full Name: </label>
  <input id="full_name" type="text" class="b--none fw3 flex1 f4" name="email" placeholder="Please enter your name">
</div>
