<!DOCTYPE html>
<html>

<head>
  <title>Forgot Password Email</title>
</head>

<body>
  <div>
    <p>Dear {{name}},</p>
    <p>You requested a password reset, kindly use this <a href="{{url}}">link</a> to reset your password.</p>
    <p>Thanks,</p>
    <p>The LCN Team</p>
  </div>
</body>
</html>
