<!DOCTYPE html>
<html>

<head>
  <title>Forget Password Email</title>
</head>

<body>
  <div>
    <p>Dear {{name}},</p>
    <p>Your password has been successfully reset.</p>
    <p>Thanks,</p>
    <p>The LCN Team</p>
  </div>
</body>
</html>
