<!DOCTYPE html>
<html>
  <head>
    <title>LCN Feedback App</title>
  </head>

  <body>
    <div>
      <p>Dear {{ name }},</p>
      <p>
        You have been invited to the LCN Feedback app. The app would help each
        person in each Law Centre share some basics about their work, and see
        what is happening elsewhere across the network.
      </p>
      <p>
        To join, please click on this <a href="{{url}}">link</a> to complete the
        sign up process - you will only need to do this once.
      </p>
      <p>
        The sign up link will expire within a week. If the link has expired
        please contact
        <a href="mailto:nimrod@lawcentres.org.uk">nimrod@lawcentres.org.uk</a>,
        who will be able to provide a new one.
      </p>
      <p>Thanks,</p>
      <p>The LCN Team</p>
    </div>
  </body>
</html>
