<!DOCTYPE html>
<html>

<head>
  <title>LCN Feedback App</title>
</head>

<body>
  <div>
    <p>Dear {{name}},</p>
    <p>You are now signed up to the LCN Feedback app.</p>
    <p>Thanks,</p>
    <p>The LCN Team</p>
  </div>
</body>

</html>