<!DOCTYPE html>
<html>

<head>
  <title>LCN Feedback App</title>
</head>

<body>
  <div>
    <p>Dear {{name}},</p>
    <p>You have been invited to the LCN Feedback app.</p>
    <p>Please click on this <a href="{{url}}">link</a> to complete the sign up process.</p>
    <p>Thanks,</p>
    <p>The LCN Team</p>
  </div>
</body>
</html>
