<form action="/forgot-password" method="post">
    <div class="form-group">
        <label>Please type in your email address</label>
        <input type="email" class="form-control" name="email">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Receive a password reset email</button>
</form>

<p>Already have an account? <a href="/login">Login</a></p>
<p>Or go <a href="/">home</a>.</p>
