<section>
  <section class="w-30 absolute left-borderline top-50">
    <div id="js-carousel" class="main-carousel shadow-4">
      <div class="w-100 bg-white ph4 pv4 flex flex-column items-center"><img src="/assets/map-green.svg" class="h3"><div
          class="pb4 pt2">Get a local, regional and national picture of what Law Centres are dealing with</div>
      </div>
      <div class="w-100 bg-white ph4 pv4 flex flex-column items-center"><img src="/assets/network-blue.svg" class="h3"><div
          class="pb4 pt2">See how typical some problems are across Law Centres, without needing to email or ring around</div>
      </div>
      <div class="w-100 bg-white ph4 pv4 flex flex-column items-center"><img src="/assets/casework-pink.svg" class="h3"><div
          class="pb4 pt2">Help you make the case for your Law Centre's work, and funding it, with your council</div>
      </div>
      <div class="w-100 bg-white ph4 pv4 flex flex-column items-center"><img src="/assets/lobby-orange.svg" class="h3"><div
          class="pb4 pt2">Help LCN communicate and lobby on behalf of Law Centres faster and more effectively</div>
      </div>
    </div>
  </section>
  <main class="flex items-center justify-between vh-100 w-100">

    <section class="w-two-thirds vh-100 bg-near-white flex items-center justify-center">
      <img src="/assets/lcn-logo.png" class="pa3 absolute top-0 left-0 h3" />
      <div class="pa3 w-50 f3">
        <h1 class="f2 b mb3">Welcome to LCN's Data Tool!</h1>
        <p class="mb3">Data Tool is the Law Centre Network platform for capturing the kinds of cases we see, and the amount
          of work we do on them, and pooling them to give an overall picture.</p>
        <p class="mb3">This will also help Law Centres talk about what we do in a more impactful way: giving an idea of the
          problems we see and how common they are, all on a current basis.</p>
        <p class="mb4">As with most things, the more data we collect, the more useful it will be!</p>
        {{#if url}}
        <a id="js-login-button" class="transition-half-s link white dib bn br2 pv3 ph4 bg-green" href={{url}}>Get started!</a>
        {{else}}
        <a id="js-login-button" class="transition-half-s link white dib bn br2 pv3 ph4 bg-green" href="/login">Login</a>
        {{/if}}
      </div>
    </section>
    <section id="js-splash" class="w-third bg-green transition-half-s vh-100">
    </section>
</section>
</main>
</section>