<main class="flex items-center justify-center vh-100 bg-near-white">
  <section class="flex items-center justify-between flex-column bg-white pa5-ns pa2 pv4 drop-shadow">
    <form action="/reset-password" method="POST" class="flex items-center justify-between flex-column bg-white">
      {{> logo}}
      <div class="w-60 mb5 lh-copy tc">
        <p class="f3 fw3 mb3">
          Please enter your new password.</p>
        <p class="f4 fw3">This should contain at least <span class="fw4">8 characters</span>, <span class="fw4">1+
            uppercase letter</span>, <span class="fw4">1+ lowercase letter</span>, and <span class="fw4">1+ number
            and/or symbol</span>.
        </p>
      </div>
      {{> flash-message}} {{> new-password-input}} {{> confirm-password-input}} {{> token-input}}
      <button type="submit" class="link dib bw1 f3 br3 ba ph3 pv2 center black b--dark-gray bg-white pointer mt4">Reset
        Password</button>
    </form>
  </section>
</main>