<div><h3>Password confirmation!</h3>
    <form action="/reset-password" method="POST">
        <label for="newPassword">New Password</label>
        <input type="text" name="newPassword" id="newPassword" required>
        <label for="verifyPassword">Confirm Password</label>
        <input type="text" name="verifyPassword" id="verifyPassword" required>
        <input type="submit" name="submit" id="resetPasswordClickEvt" value="Reset Password">
        <input type="hidden" value="{{token}}" style="display: none;" name="token">
  </form>
</div>
