{{#if message}}
<h2>{{message}}</h2>
{{/if}}

<form action="/signup" method="post">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="full_name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
</form>

<p>Already have an account? <a href="/login">Login</a></p>
<p>Or go <a href="/">home</a>.</p>
