* {
  font-family: var(--sans-serif), sans-serif;
  outline: 0 !important;
}

body {
  background-color: var(--light-blue);
}

/* Remove blue border highlight on inputs */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*  Modal Centering */

.modal {
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-above {
  transform: translate(-3rem, -7rem);
}

.disableButton {
  pointer-events: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid var(--light-gray);
}
input[type='checkbox']:checked {
  background: var(--pink);
}

#areaOfLaw {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: white;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  line-height: 3.5;
  background: white;
  overflow: hidden;
  height: 3.5em;
  border-radius: var(--border-radius-2);
  border: 2px solid var(--light-gray);
}
#areaOfLaw {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: var(--pink);
  cursor: pointer;
}
#areaOfLaw::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  color: var(--pink);
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: white;
  pointer-events: none;
}

.maxh5 {
  max-height: 14rem;
}

.w-15 {
  width: 1.5rem;
}

.drop-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.flex1 {
  flex: 1;
}
