* {
  font-family: var(--sans-serif), sans-serif;
  outline: 0 !important;
}

body {
  background-color: var(--light-blue);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
